.container {
    @apply
        grid
        grid-rows-[20px_1fr_20px]
        items-center
        justify-items-center
        min-h-screen
        p-8
        pb-20
        gap-16
        sm:p-20
        font-[family-name:var(--font-geist-sans)]
    ;
}

.main {
    @apply
        flex
        flex-col
        gap-8
        row-start-2
        items-center
        sm:items-start
    ;
}

.orderedList {
    @apply
        list-inside
        list-decimal
        text-sm
        text-center
        sm:text-left
        font-[family-name:var(--font-geist-mono)]
    ;
}

.code {
    @apply
        bg-black/[.05]
        dark:bg-white/[.06]
        px-1
        py-0.5
        rounded
        font-semibold
    ;
}

.externalLinks {
    @apply
        flex
        gap-4
        items-center
        flex-col
        sm:flex-row
    ;
}

.linkShared {
    @apply
        rounded-full
        border
        border-solid
        transition-colors
        flex
        items-center
        justify-center
        text-sm 
        sm:text-base 
        h-10 
        sm:h-12 
        px-4 
        sm:px-5
    ;
}

.deployLink {
    @apply
        border-transparent
        bg-foreground
        text-background
        gap-2
        hover:bg-[#383838] 
        dark:hover:bg-[#ccc] 
    ;
}

.readDocsLink {
    @apply
        border-black/[.08]
        dark:border-white/[.145]
        hover:bg-[#f2f2f2]
        dark:hover:bg-[#1a1a1a]
        hover:border-transparent
        sm:min-w-44
    ;
}

.footer {
    @apply
        row-start-3
        flex gap-6
        flex-wrap
        items-center
        justify-center
    ;
}


.footerLink {
    @apply
        flex
        items-center
        gap-2
        hover:underline
        hover:underline-offset-4
    ;
}